/******************* DASHBOARD *******************/

#dashboard {
    height: 100vh;
    background-color: #4c565e;
}

#dashboard nav {
    background-color: #384551;
    padding: 0.8em 0.5em;
} 

#dashboard nav img {
    width: 3%;
}

#dashboard main {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 0;
    height: 92vh;
    background-color:#384551;
}

#dashboard main div:nth-last-child(1) {
    background-color: #FFF;
}

#dashboard * a {
    text-decoration: none;
    cursor: pointer;
}

#front {
    color: #81d6ec;
}

#front .row {
    padding-left: 2em;
    padding-right: 2em;
}

#front h5 {
    margin-bottom: 0;
}

#front * .position-relative .position-relative {
    top: 15%;
}

#menu {
    position: relative;
    min-height: 279px;
    font-size: 1.3em;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #384551 !important;
    padding-top: 1em;
    text-align: left;
}

#collapseOne {
    background-color: #42505d !important;
    font-size: 0.85em;
}

#menu a {
    color: #FBF9F9;
    display: block;
    padding: 0.75em;
    padding-left: 1.5em;
}

#menu a:hover {
    background-color: #4a5967;
}

#dashboard * h2 {
    display: inline-block;
    margin-bottom: 1em;
}

#add {
    margin-left: 0.5em;
    vertical-align: top;
    color: #FFF;
}

#chartdiv {
    width: 100%;
    height: 300px;
  }

/******************* DASHBOARD DATATABLE *******************/

.dataTable {
    margin: 0 !important;
}

#tbldokter img {
    transition: transform .2s;
}

#tbldokter img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}

.aing-teh-macan {
    position: relative;
}

.halig-ku-aing {
    font-size: 0.7em;
    position: absolute;
    top: 5px;
    right: 10px;
    color: cadetblue;
    visibility: hidden;
}

.aing-teh-macan:hover .halig-ku-aing {
    visibility: visible;
}