/******************* DASHBOARD *******************/

#dashboard {
    height: 100vh;
}

#dashboard nav {
    background-color: #384551;
    padding: 1em 4em;
}

#dashboard nav img {
    width: 5%;
}

#dashboard main {
    text-align: center;
}

#dashboard main div div:nth-last-child(1) a {
    display: block;
}

#dashboard .row {
    margin-left: 0;
    margin-right: 0;
}

#dashboard main div:nth-last-child(2) {
    background-color: #9ACFFF;
}

#dashboard * a {
    color: #FBF9F9;
    text-decoration: none;
}

#profile {
    background-color: #E37F7F !important;
    margin-left: -15px;
    margin-right: -15px;
    padding: 1em 1em 0.1em 1em;
    color: #FFF;
}

#profile img {
    margin-bottom: 0.5em;
    width: 120px;
    height: 120px;
}

#profile p {
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #cd5c5c82;
    padding: 0.5em;
}

#menu {
    position: relative;
    min-height: 279px;
    font-size: 1.2em;
    margin-left: -15px;
    margin-right: -15px;
}

#menu a {
    padding: 0.5em;
}

#menu a:nth-last-of-type(1) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#menu a:nth-of-type(even) {
    background-color: #6BB9FF;
}

.dataTable {
    margin: 0 !important;
}