/******************* AMBIL NOMOR *******************/

#nomor {
    background-color: #FBF9F9;
    padding: 5em;
}

#nomor * .btn-light {
    width: 100%;
    border-color: #707070;
    margin-bottom: 2em;
}

.dropdown-toggle:empty::after {
    position: relative;
    left: 45%;
}

.dropdown-menu {
    width: 100%;
}